[Unit]
Description=crappy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/app-server/server

[Install]
WantedBy=multi-user.target

